/* .root {
  -fx-background-image: url("HangBackground.png");
  -fx-background-size: cover;
  background-image: url("HangBackground.png");
  background-size: cover;

} */

.label {
  -fx-font-size: 40;
  font-size: 40;
}

#Gaps{
  -fx-font-size: 100;
  font-size: 100;
}